$this: ".example-component";

#{$this} {

  border: 1px solid grey;

  &__title {
    font-size: 20px;
    text-decoration: dashed;

  }

  &__highlight {
    background-color: darken(red, 10%);
    color: white;
  }

  &--hide-ish {
    opacity: 0.1;
  }
}
