$icon-wrapper: ".icon-wrapper";

strong {
  font-weight: 900;
}

.about-us-section {
  #{$icon-wrapper} {
    i {
      font-size: 30px;
    }
  }
  h1{
    font-family: Lato;
    font-size: 4rem;
  }
}
  



.plans-and-pricing {
  h1{
    font-family: Raleway;
    font-size: 4rem;
  }
}

