$this: ".panel";

#{$this} {
  font-family: Raleway;

  &__right {
    font-size: 20px;
    line-height: 30px;
    color: #23ba85;
  }

  &__left {
    font-size: 14px;
    line-height: 24px;
    color: white;
  }

  &__title {
    font-size: 60px;
    font-family: Raleway;
    color: white;
  }
  &__background {
    width: 100%;
    background-position: center center;
    background-size: cover;
  }
  @include breakpoint(small only) {
    &__title {
      font-size: 30px;
      margin-top: 170px;
    }

    &__right {
      font-size: 12px;
      color: #23ba85;
    }
  
    &__left {
      font-size: 7px;
      color: white;
    }
  }
}
